
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
   padding: 0;
}

header{
    height: 38rem;
    background-image: url(img/banner.jpg);
   background-position: center center;
   background-size: cover ;
   background-repeat: no-repeat;
   
   
}

.box1{max-width: 1200px;
    width: 95%;
    margin: 0 auto;}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    top: 17px;
  
}

.logo a{
    display: flex;
    text-decoration: none;
     color: white;
    align-items: center;
}
.logo  h1{
   
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.9rem;
  
    
}
.logo span{
    font-weight:700;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.9rem;
  
}

 nav{/*display: inline;
    margin-right: 1rem; */
    display:flex ;
 gap: 20px;}  
nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
   
    /* text-align: center;
    display: block;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none; */

}
.texto{
    margin-top: 12rem;
    text-align: center;
    color: white;
   
}
.texto h2{font-size: 2.5rem;
    line-height: 1.2;
    font-family: 'PT Sans', sans-serif;
}
.texto p{
    font-size: 24.2px;
    font-family: 'PT Sans', sans-serif;
    position: relative;
    top: 6px;
}
/* COMIENZO DEL CONTENEDOR PRINCIPAL */
.contenedor-principal{display: flex;
flex-direction: row;
gap: 40px;
width: 90%;
    margin: 0 auto;
justify-content: space-evenly;}
.imagenes img{width: 49rem;
}
.box2{margin-top: 36px;
    display: flex;
    width: 49rem;
    flex-direction: column;
    gap: 31px;
}
.box2 h1{ font-family: 'PT Sans', sans-serif;
font-size: 2.5rem;}
.box2 h2{ font-family: 'PT Sans', sans-serif;
    font-size: 2rem;}
    .box2 p{font-size: 17px;
        font-family: 'Open Sans', sans-serif;
   
        line-height: 2;
    }
    .box2 button{background-color: black;
        
        width: 13rem;
   
        text-align: center;
        padding: 1rem 0rem;
        margin: 2rem 0;
        color: white;
      
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.2rem;
}
.box3{margin-top: 36px;
    display: flex;
    width: 49rem;
    flex-direction: column;
    gap: 31px;
}
.box3 h1{ font-family: 'PT Sans', sans-serif;
font-size: 2.5rem;}
.box3 h2{ font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;}
    .box3 b{font-size: 20px;
       
        font-family: 'PT Sans', sans-serif;
    font-weight: 700;
   
        line-height: 0.5;
        
    }
    .box3 p{font-size: 20px;
       
        font-family: 'PT Sans', sans-serif;
  }
    .box3 button{background-color:#784d3c;
        
        width: 13rem;
   
        text-align: center;
        padding: 1rem 0rem;
        margin: 2rem 0;
        color: white;
      
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.2rem;
}